<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="match">
            <h2><span jhiTranslate="mywebApp.match.detail.title">Match</span> {{ match.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mywebApp.match.nomM">Nom M</span></dt>
                <dd>
                    <span>{{ match.nomM }}</span>
                </dd>
                <dt><span jhiTranslate="mywebApp.match.numM">Num M</span></dt>
                <dd>
                    <span>{{ match.numM }}</span>
                </dd>
                <dt><span jhiTranslate="mywebApp.match.dureeM">Duree M</span></dt>
                <dd>
                    <span>{{ match.dureeM }}</span>
                </dd>
                <dt><span jhiTranslate="mywebApp.match.dateM">Date M</span></dt>
                <dd>
                    <span>{{ match.dateM }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/match', match.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
